{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./src/app/globals.css",
    "tailwindFunctions": ["clsx", "tw"],
    "tailwindAttributes": ["className"],
    "tabWidth": 4
}
